body{
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-size: 1.2em;
    background-color: whitesmoke ;
}
/*STARTS SIGNUP HTML*/
h2{
    text-align: center;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #833AB4;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    margin-top: 200px;
    border-radius: 12px;
    padding: 20px 0;
    gap: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.70);
}

button{
border: none;
padding: 10px;
border-radius: 10px;
font-size: 15px;
font-weight: 500;
}
button:hover{
    transform: scale(1.10);
    transition: 0.3s ease-in-out;
}
/* ENDS SIGNUP HTML*/

/*STARTS SUCCESSCREATION HTML*/

h3{
    text-align: center;
}

#creation_overview{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #833AB4;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    margin-top: 50px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.70);
}