body{
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.90);
    color: white;
}
/*STARTS SIGNUP HTML*/
h2{
    text-align: center;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #833AB4;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    margin-top: 200px;
    border-radius: 12px;
    padding: 20px 0;
    gap: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.70);
}

.sub-bt{
border: none;
padding: 10px;
border-radius: 10px;
font-size: 15px;
font-weight: 500;
}
.sub-bt:hover{
    transform: scale(1.10);
    transition: 0.3s ease-in-out;
}
/* ENDS SIGNUP HTML*/

/*STARTS SUCCESSCREATION HTML*/

h3{
    text-align: center;
}

#creation_overview{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #833AB4;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    margin-top: 50px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.70);
}
/*ENDS SUCCESS CREATION HTML*/

/*STARTS ACCOUNT HTML*/

.left-align{
    width: 100vw; 
    margin-left: calc(-50vw + 300px); 
    padding-left: 20px; 
    box-sizing: border-box;
}

.movie{
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
    margin: 10px;
    background: hsla(0, 100%, 2%, 0.20);
    border-radius: 12px;
    box-shadow: 0 2px 8px black;
}
.movie img{
    border-radius: 12px 12px 0 0;
}

.section{
    text-align: left;
}
.movie h4{
    text-align: center;
}

.movie:hover{
    box-shadow: 0 2px 8px white;
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
    cursor: pointer;
}