{% extends "base.html" %}

{% block content %}

    <h2>My Account</h2>

    <section id="main content">
    
        <div class="left-align">

            <h3 class="section">Downloaded Movies</h3>

            <div id="My_List">

                <div class="movie">
                
                    <img src="https://i.scdn.co/image/ab67616d0000b273ea877d9f8d7b66b9aa277719" alt="Movie Poster" width="250" height="300">
                    <h4>Sinners</h4>

                </div>

                <div class="movie">
                
                    <img src="https://dci832c741skk.cloudfront.net/assets/files/67279/kpop-demon-hunters-movie-poster.800x600.jpg" alt=" Movie Poster" width="250" height="300">
                    <h4>K-POP: Demon Hunters</h4>
                    
                </div>

                <div class="movie">
                
                    <img src="https://static.wikia.nocookie.net/listofdeaths/images/d/d4/Ihostage.jpg" alt="Movie Poster" width="250" height="300">
                    <h4>iHostage</h4>
                    
                </div>

                <div class="movie">
                    <img src="https://static.wikia.nocookie.net/horrormovies/images/2/29/Until_Dawn_%282025%29_poster_%28logo_only%29.jpg" alt="Movie Poster" width="250" height="300">
                    <h4>Until Dawn</h4>
                </div>

            </div>

        </div>

    </section>
{% endblock  %}