{% extends "base.html" %}

{% block content %}

<h2>Account Creation</h2>

<form method="POST">

    <div>
        <label for="name">Name *:</label>
        <input type="text" id="name" name="name" required>
    </div>

    <div>
        <label for="email">Email *:</label>
        <input type="email" id="email" name="email" required>
    </div>

    <div>
        <label for="password">Password *:</label>
        <input type="password" id="password" name="password" required>
    </div>

    <div>
        <label for="acctype">Account Type *:</label>
        <select id="acctype" name="acctype" required>
            <option value=""></option>
            <option value="">Free</option>
            <option value="">Pro</option>
            <option value="">Premium</option>
        </select>
    </div>

    <div>
        <label for="notifications">Receive Notifications</label>
        <input type="checkbox" name="checkbox" name="checkbox" value="yes">
    </div>
    
    <div>
        <button type="submit">Create Account</button>
    </div>
</form>

{% endblock  %}